.search-input {
    border: 1px lightgrey solid;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none
}

.search-input:focus {
    border: 1px #007bff solid;
}

.resultats {
    margin-left: 12px;
    border: 1px solid lightgrey;
    padding: 0px 0px 0px 0px;
    overflow: visible;
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 173px;
}

.resultat {
	list-style: none;
	cursor: pointer;
}

.resultat:hover {
	background-color: aliceblue;
}

.resultat:not(:last-child) {
	margin-bottom: 2px;
}

.resultat>span {
	margin-left: 15px;
}

.primary-button {
	border: 2px #78d9de solid;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: #1bbdcd;
    height: 28px;
    cursor: pointer;
}

.autocomplete + .primary-button {
	margin-left: 15px;
}